
.btn{
    font-weight: 500;
    transform: scale(1);
    transition: transform 200ms ease-in-out !important;
    &:hover {
        transform: scale(1.1);
        border: 2px solid $secondary;
    }
    &:focus{
        transform: scale(1.1);
        border-color: $secondary;
        box-shadow: 0 0 0 0.1rem $secondary;
        font-weight: 600;
    }
     

    &.btn-primary{
        &:hover{
            background-color: #ffffff;
            font-weight: 600;
        }
    }

    &.btn-secondary{
        &:hover{
            color:$secondary;
            background-color: #ffffff;
            font-weight: 600;
        }
        &:focus{          
            color:$secondary;
            background-color: #ffffff;         
        }
    }

    &.btn-trash-teddy{
        color: $secondary;
        padding : .2em;
        margin: .3em;
        background-color: transparent;   
    }
}



