.navbar-brand{
    transform: scale(1);
    transition: transform 200ms ease-in-out !important;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        transform: scale(1.1);  
    }
}

.navbar-toggler {
    &:hover {
        box-shadow: 0 0 0 0.25rem;
    }
}

.navbar-collapse {
    justify-content: flex-end;
    .navbar-nav {
        .nav-link {
            padding-left: .5em;
            font-weight: 500;
            &:hover{
                font-weight: 600;
                text-decoration: underline;
            }
            &:focus{
                text-decoration: none;
                font-weight: 700;
                outline-color: $secondary;
            }
        }
    }
}

