
@import "card_overrides";
@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "buttons_overrides";
@import "form-control_overrides";

body{
    font-family: 'Raleway', sans-serif;

    .jumbotron{
    margin: 2em 0;
    }

    #cart {

        #teddies-list {
            
            
            .teddy-item{
                display:flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-line;

        
                .teddy-price{
                    display:flex;
                    align-items: center;
                    white-space: nowrap;
                }
        
            }
        }

        

    }
    
        
}

